:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

html {
    scroll-behavior: smooth
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto
}

header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px
}

header .container::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #a2a2a2;
    bottom: 0;
    width: calc(100% - 30px);
    left: 15px
}

nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

nav ul {
    display: flex;
    align-items: center
}

nav a {
    padding: 40px 20px;
    display: block;
    text-decoration: none;
    font-size: 14px;
    transition: .3s;
    position: relative;
    z-index: 2;
    color: #fff
}

nav .active,
nav a:hover {
    color: var(--main-color);
    transition: .3s;
    border-bottom: #19c8fa solid 2px
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid #fff
}

header nav .form i {
    color: var(--main-color);
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0
}

.fas.fa-bars.toggle-menu {
    color: #fff;
    font-size: 22px
}

.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url(../img/landing.jpg);
    background-size: cover;
    position: relative
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5)
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: #fff;
    display: flex;
    justify-content: flex-end
}

.landing .text .content {
    max-width: 500px
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 20px
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd
}

.landing .fa-angle-left {
    left: 30px
}

.landing .fa-angle-right {
    right: 30px
}

.landing .bullets {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 10px
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color)
}

.Services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.S-heading {
    font-weight: 400;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    text-align: center
}

.S-heading::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px
}

.S-heading::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: #fff
}

.M-p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
    text-align: center
}

.Services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    font-size: larger
}

.ServicesCard {
    display: flex
}

.ServicesCard i {
    margin-right: 20px;
    align-self: center
}

.ServicesCard h3 {
    color: var(--main-color);
    padding: 10px 10px 10px 0
}

.desgin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--section-padding);
    background-image: url(../img/design-features.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 600px;
    overflow: hidden
}

.desgin::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%)
}

.desgin .text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: #fff;
    justify-content: flex-end
}

.desgin .text h2 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: larger;
    font-size: 24px
}

.desgin .text li {
    padding: 15px 0
}

.desgin .text li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px
}

.desgin .image {
    position: relative;
    bottom: -150px;
    z-index: 0
}

.Portfolio {
    padding-top: 50px
}

.Portfolio .M-p {
    width: 100%;
    line-height: 2;
    text-align: center;
    margin-bottom: 50px
}

.type-List {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    font-size: 35px;
    margin-bottom: 30px;
    width: 10px auto;
}

.type-List li {
    padding: 10px;
    cursor: pointer
}

.type-List li:hover {
    background-color: var(--main-color);
    color: #fff
}

.type-List li:hover+.active {
    background-color: white;
}

.type-List .active-type {
    background-color: var(--main-color);
    color: #fff
}

.Img-container {
    display: flex;
    flex-wrap: wrap
}

.Img-card {
    width: 25%;
    height: 50%;
    overflow: hidden;
    position: relative
}

.Img-card img {
    width: 100%;
    transition: .3s
}

.caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    transition: .3s;
    bottom: -100%
}

.Img-card:hover img {
    transform: rotate(3deg) scale(1.1)
}

.Img-card:hover .caption {
    bottom: 0
}

.more {
    padding: 20px 20px 20px 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center
}

.More-a {
    text-decoration: none;
    color: #fff;
    background-color: var(--main-color);
    padding: 20px;
    font-size: 35px;
    transition: .3s
}

.More-a:hover {
    background-color: #007bb5
}

.video {
    position: relative
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%)
}

.video video {
    width: 100%
}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: #fff;
    text-align: center
}

.video .text h2 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: larger;
    font-size: 24px
}

.video .text button {
    padding: 20px;
    background-color: #000;
    color: #fff;
    margin-top: 40px;
    border: 0;
    cursor: pointer
}

.About {
    padding-top: var(--section-padding);
    background-image: url(../img/about.jpg);
    background-size: cover;
    position: relative;
    color: #000000;
    text-align: center;
}

.About img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.our-skills .container>div>h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.our-skills .container>div>p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.our-skills .testimonials .content {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.our-skills .testimonials .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}

.our-skills .testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}

.our-skills .testimonials .text p {
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}

.our-skills .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.our-skills .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}

.our-skills .testimonials .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
    margin-bottom: 40px;
}

.our-skills .skills .prog-holder h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .skills .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}

.our-skills .skills .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}

.our-skills .skills .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    color: white;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

.our-skills .skills .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
}

.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url("../img/stats.png");
    background-size: cover;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: 14px;
}

.Quoat {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url("../img/quote.jpg");
    background-size: cover;
    position: relative;
    text-align: center;
    color: white;
}

.Quoat::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 75%);
}

.Quoat .container {
    position: relative;
}

.Quoat q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plans .plan {
    background-color: #fcfcfc;
    text-align: center;
}

.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plans .plan .head span {
    font-size: 60px;
    font-weight: bold;
}

.pricing .plans .plan .head span::before {
    content: "$";
    font-size: 25px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
}

.pricing .plans .plan .head span::after {
    content: "/Mo";
    font-size: 20px;
    position: relative;
    right: -15px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}

.pricing .plans .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: "";
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.pricing .plans .plan .foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
}

.pricing .contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}

.pricing .contact-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    transition: 0.3s;
}

.pricing .contact-link:hover {
    background-color: #007bb5;

}

.foot a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    transition: 0.3s;
}

.foot a:hover {
    background-color: var(--main-color);
    border: 1px solid black;
    color: black;
}

.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: #fff
}

.subscribe::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%)
}

.subscribe .container {
    position: relative;
    display: flex;
    align-items: center
}

.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%
}

.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px
}

.subscribe form input[type=email] {
    border: 1px solid #fff;
    border-right: none;
    background: 0 0;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    color: #fff
}

.subscribe form input[type=submit] {
    width: 130px;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-left: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.subscribe form input[type=submit]:hover {
    background-color: #007bb5;
}

.subscribe form input[type=email]:focus,
.subscribe form input[type=submit]:focus {
    outline: 0
}

.subscribe form ::placeholder {
    color: #fff
}

.subscribe p {
    line-height: 2;
    margin-left: 50px
}

.Contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-size: cover;
    position: relative;
}

.form-content {
    display: flex;
}

.form-content form {
    flex-basis: 70%;
}

.form-content input,
.form-content textarea {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}

.form-content input:focus,
.form-content textarea:focus {
    outline-color: var(--main-color);
}


.form-content input[type=submit] {
    transition: 0.3s;
}

.form-content input[type=submit]:hover {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

.info {
    flex-basis: 25%;
    padding-left: 5%;
}

.info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.info span {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

.info h4:nth-of-type(2) {
    margin-top: 90px;
}

.info address {
    color: #777;
    line-height: 2;
}

footer {
    padding-top: calc(var(--section-padding)/ 2);
    padding-bottom: calc(var(--section-padding)/ 2);
    background-image: url(../img/subscribe.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center
}

footer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%)
}

footer img {
    margin-bottom: 20px
}

footer p:not(.copyright) {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid #fff;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto
}

footer .social-icons i {
    padding: 10px 15px;
    transition-duration: 0.3s;
}

footer .social-icons i:hover {
    transform: scale(1.6)
}

.fa-home:hover {
    color: red
}

.fa-facebook-f:hover {
    color: #006dff
}

.fa-linkedin:hover,
.fa-twitter:hover {
    color: #007bb5
}

footer .container {
    position: relative
}

.copyright {
    padding: 20px 0 0 0
}

footer span {
    color: var(--main-color)
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.scroll-to-top i{
    animation-name: UpDown ;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #00c7fc;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.5s;
    z-index: 999;
    /* Set a higher z-index value */
}

.scroll-to-top:hover {
    opacity: 1;
}

@keyframes UpDown {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20%);
    }

    60% {
        transform: translateY(-25%);
    }
}


